import { defineConfig } from 'vite'
import preact from '@preact/preset-vite'
{{ if .tailwind }}import tailwindcss from '@tailwindcss/vite'
{{ end }}
// https://vite.dev/config/
export default defineConfig({
  plugins: [{{ if .tailwind }}tailwindcss(), {{ end }}preact()],
})